<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= content_tag :span, "name", :class => "input-group-addon" %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <br>
  <div class="input-group">
    <%= content_tag :span, "price", :class => "input-group-addon" %>
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
